* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --body-background: #f5fefd;
    --primary-background: white;
    --primary-txt: rgb(46, 46, 46);
    --primary-color: #FF7518;
    --secondary-color: #008AE7;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 50px;
    position: relative;
    background-color: var(--body-background);
    color: var(--primary-txt);
}

.loader {
    background-color: white;
    height: 100dvh;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;

    border-top: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    border-left: 4px solid white;

    animation: spin 1s linear infinite;
}

.hide-overflow {
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.warning-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.warning {
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 205, 205);
    padding: 20px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.warning p {
    font-weight: bold;
}

.ok-warning-btn {
    margin: 10px auto;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.warning .load-bar {
    height: 5px;
    width: 0;
    background-color: red;
}

.show-error {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms;
}

nav h2 {
    color: var(--primary-color);
    width: 20%;
}

nav ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

nav ul li {
    position: relative;
    cursor: pointer;
}

nav ul a {
    text-decoration: none;
    color: var(--primary-txt);
}

.nav-scroll {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-background);
    border-radius: 50px;
    top: 10px;
    right: 5%;
    left: 5%;
    width: 90%;
}

.nav-scroll-mobile {
    background-color: transparent;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: none;
    width: 100%;
}

.drop-down {
    display: none;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 0;
    list-style: none;
    background-color: var(--primary-background);
    border-top: 3px solid var(--primary-color);
    border-radius: 0 0 10px 10px;
    transition: all 300ms;
}

.drop-down li:nth-child(1),
.drop-down li:nth-child(2) {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid var(--primary-txt);
}

nav ul li .drop-down.show {
    display: block;
}

nav ul li .icon {
    transition: all 300ms;
}

nav ul li .icon.rotate {
    transform: rotate(-180deg);
}

.hamburger {
    position: relative;
    display: none;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: all 300ms;
}

.hamburger.active .bar {
    opacity: 0;
}

.hamburger.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.active::after {
    transform: rotate(45deg) translate(-6px, -6px);
}

.mobile-navbar {
    overflow: auto;
    padding-top: 60px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 100%;
    z-index: 98;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 300ms;
}

.mobile-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-navbar ul>li {
    position: relative;
    text-align: center;
    width: 95%;
    padding: 15px 0;
}

.mobile-navbar ul p {
    display: inline;
    cursor: pointer;
}


.mobile-navbar ul a {
    text-decoration: none;
    color: var(--primary-txt);
}

.mobile-navbar.active {
    left: 0;
}

.mobile-navbar .dd3,
.mobile-navbar .dd4 {
    display: none;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.mobile-navbar .dd3 li,
.mobile-navbar .dd4 li {
    text-align: center;
    padding: 15px 0;
}

.mobile-navbar .dd3.show,
.mobile-navbar .dd4.show {
    display: block;
}

.mobile-navbar .icon {
    transition: all 300ms;
}

.mobile-navbar .icon.rotate {
    transform: rotate(-180deg);
}

.nav ul li,
.mobile-navbar ul li {
    transition: all 300ms;
}

.nav ul li:hover,
.mobile-navbar ul li:hover {
    opacity: 0.8;
}

section {
    color: var(--primary-txt);
}

.go-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.go-to-top a {
    text-decoration: none;
    font-size: 20px;
    color: var(--body-background);
}

.hero {
    color: var(--primary-txt);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100dvh;
}

.left,
.right {
    width: 45%;
}

.hero .left h1 {
    font-size: 80px;
    text-align: center;
}

.hero .left h1 .htitle {
    position: relative;
}

.hero .left h1 .htitle::before {
    content: "";
    animation: grow 5s infinite linear;
    position: absolute;
    top: 50%;
    height: .1em;
    width: 0;
    background-color: var(--primary-color);
}

.hero .left h3 {
    font-size: 40px;
    text-align: center;
}

.hero .left .btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero .left button {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.hero .left .learn-more-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.hero .left .learn-more-btn:hover {
    background-color: var(--primary-color);
    color: var(--primary-background);
}

.hero .left .learn-more-btn:active {
    opacity: 0.8;
}

.hero .left .get-started-btn {
    background-color: var(--primary-color);
    color: var(--primary-background)
}

.hero .left .get-started-btn:hover {
    opacity: 0.9;
}

.hero .left .get-started-btn:active {
    opacity: 0.8;
}

.hero-clients {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
}

.hero-clients div {
    width: 33%;
    font-weight: bold;
}

.hero-clients-content {
    border-right: 1px solid var(--primary-txt);
}

.hero .right img {
    width: 100%;
    transform: rotate(-15deg);
}

.section1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-height: 100dvh;
}

.section1 .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section h2 {
    background-image: url('images/bg-brush.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

section .h2-2 {
    background-image: url('images/bg-brush2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section1 .left img {
    width: 100%;
    transform: rotate(15deg);
}

.section1 .right .right-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.section1 .right i {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.section1 .right h4 {
    text-align: center;
}

.section1 .right button {
    align-self: center;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.section1 .right button {
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.section1 .right button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.section1 .right button:active {
    opacity: 0.8;
}

.brands {
    margin-top: 50px;
}

.logos {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.logos-slide {
    display: flex;
    align-items: center;
    animation: slide 10s infinite linear;
}

.logos-slide img {
    width: 100px;
    margin: 0 10px;
}

.section2 {
    text-align: center;
}

.section2 .row1,
.section2 .row3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section2 .row2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.row-title {
    width: 45%;
}

.row-title .number,
.row-title .number2 {
    font-size: 80px;
    font-weight: bold;
    color: var(--primary-color);
}

.row-title .number2 {
    color: var(--primary-color);
}

.section2 img {
    height: 300px;
}

.form-link {
    text-decoration: underline;
    font-weight: bold;
    color: var(--primary-color);
}

.section3 {
    text-align: center;
}

.section3 .row1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3 .row2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.section3 .number {
    color: var(--secondary-color);
}

.section3 img {
    max-width: 400px;
}

.section4 {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.wrapper .arrows {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrapper i {
    height: 46px;
    width: 46px;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    line-height: 46px;
    background-color: var(--primary-color);
    color: var(--primary-background);
    border-radius: 50%;
}

.wrapper i:first-child {
    background-color: gray;
}

.wrapper .carousel {
    font-size: 0;
    cursor: grab;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grabbing;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0;
}

.section5 {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section5 .reviews-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.rcard {
    background-color: var(--primary-background);
    padding: 35px 30px;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.rcard .quote {
    color: var(--secondary-color);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.person {
    display: flex;
    align-items: center;
    gap: 10px;
}

.person img {
    width: 75px;
    border-radius: 50%;
}

.person .fa-star {
    color: rgb(245, 228, 0);
}

.person .name {
    font-weight: bold;
}

.section5 a {
    color: var(--primary-txt);
}

.section6 {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plans {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.plan {
    background-color: var(--primary-background);
    position: relative;
    padding: 30px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.plan::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    border-right: 20px solid var(--primary-background);
    border-bottom: 20px solid var(--primary-background);
    border-top: 20px solid var(--body-background);
    border-left: 20px solid var(--body-background);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 0;
}

.plan .head {
    text-align: center;
}

.plan .features {
    margin-top: 25px;
    width: 100%;
}

.plan .features h4 {
    text-align: center;
}

.plan .features ul {
    list-style: none;
}

.plan .features i {
    color: rgb(0, 202, 0);
}

.ordernow-btn {
    font-weight: bold;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--primary-background);
    background-color: var(--primary-color);
    cursor: pointer;
}

.section7 {
    position: relative;
    background-color: var(--secondary-color);
    background-image:
        radial-gradient(circle at 100% 50%,
            transparent 1rem,
            rgba(0, 0, 0, 0.5) 1rem,
            rgba(0, 0, 0, 0.5) 1.5rem,
            transparent 1.5rem),
        radial-gradient(circle at 0% 50%,
            transparent 1rem,
            rgba(0, 0, 0, 0.5) 1rem,
            rgba(0, 0, 0, 0.5) 1.5rem,
            transparent 1.5rem);
    background-size: 3rem 5rem;
    background-position: 0 0, 0 2.5rem;
    display: flex;
    align-items: center;
    margin: 100px 0;
    padding: 50px;
}

.section7::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    transform: rotate(45deg);
    height: 50px;
    width: 50px;
    background-color: var(--body-background);
}

.section7::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    transform: rotate(45deg);
    height: 50px;
    width: 50px;
    background-color: var(--body-background);
}

.section7 h2 {
    text-align: center;
    background: none;
}

.section7 form {
    background-color: var(--primary-background);
    max-width: 300px;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 5px rgba(5, 6, 26, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section7 form input {
    padding: 15px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section7 form input:focus {
    outline: none;
}

.getstarted-btn {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--primary-background);
    background-color: var(--secondary-color);
    cursor: pointer;
    align-self: center;
}

footer {
    background-color: #424242;
}

footer .top {
    padding: 30px 0;
}

footer .top h2 {
    color: var(--primary-color);
    font-size: 25px;
    width: 100%;
    text-align: center;
}

footer .down {
    padding: 10px;
    background-color: #292929;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .down div {
    width: 30%;
}

footer .down p {
    width: 50%;
}

footer .down h3 {
    color: var(--primary-color);
    text-align: center;
}

footer .down ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer .down ul a {
    color: var(--primary-color);
    font-size: 20px;
}

.show {
    display: block;
}

section {
    margin-bottom: 150px;
}

section h2 {
    text-align: center;
    font-size: 60px;
}

.section2,
.section3,
.section5 {
    overflow: hidden;
}

.slide-from-left {
    transform: translateX(-50%);
}

.slide-from-right {
    transform: translateX(50%);
}

.fade-in {
    opacity: 0;
    filter: grayscale(1);
    transition: opacity 200ms ease-in, filter 400ms ease-in, transform 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    filter: grayscale(0);
    transform: translateX(0);
}

/* ********************************************************************** */

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }

    10% {
        width: 0;
    }

    25% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    75% {
        width: 100%;
    }

    90% {
        width: 0;
    }

    100% {
        width: 0;
    }
}

/* ********************************************************************** */
@media screen and (max-width:1200px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width:1000px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero .left {
        width: 95%;
    }

    .hero .right {
        width: 70%;
    }

    .hero .right .circle {
        display: none;
    }

    .section1 .content {
        flex-direction: column;
        gap: 10px;
    }

    .section1 .left {
        width: 70%;
    }

    .section1 .right {
        width: 95%;
    }
}

@media screen and (max-width:820px) {
    .plans {
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .section5 .reviews-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:700px) {
    .nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .section2 .row1,
    .section2 .row2,
    .section2 .row3 {
        flex-direction: column;
        margin-top: 10px;
    }

    .row-title {
        width: 90%;
    }

    .section2 img {
        height: auto;
        width: 90%;
    }

    .section3 .row1,
    .section3 .row2 {
        flex-direction: column-reverse;
        margin-top: 10px;
    }

    .section3 img {
        width: 90%;
    }

    .carousel img {
        width: 100%;
    }

    footer .down {
        flex-direction: column;
        gap: 10px;
    }

    footer .down div {
        width: 50%;
    }

    footer .down p {
        width: 60%;
        text-align: center;
    }

    .hero .left h1 {
        font-size: 60px;
        text-align: center;
    }

    .hero .left h3 {
        font-size: 30px;
        text-align: center;
    }

    section h2 {
        font-size: min(35px, 10vw);
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .warning {
        width: 90%;
    }

    .hero .left h1 {
        font-size: 40px;
        text-align: center;
    }

    .hero-clients {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .hero-clients div {
        width: 100%;
    }

    .hero-clients-content {
        border: none;
    }

    .section7 form {
        width: 100%;
    }
}

.section7 h2 {
    font-size: 20px;
}